
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/


/psd2ui-tools/out/
/psd2ui-tools/hawa/
/psd2ui-tools/hawaout/